<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Login page</title>
  </head>
  <body>
    <!-- partial:index.partial.html -->
    <div id="bg"></div>

    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
      <div class="form-field">
        <input
          type="email"
          placeholder="Email / Username"
          name="email"
          ngModel
          required
        />
      </div>

      <div class="form-field">
        <input
          type="password"
          placeholder="Password"
          name="password"
          ngModel
          required
        />
      </div>

      <div class="form-field">
        <button class="btn" type="submit">Log in</button>
      </div>
    </form>
    <!-- partial -->
  </body>
</html>
