<div class="user-container">
  <div class="overlay" id="loading" *ngIf="!user && isInViewMode">
    <div class="d-flex justify-content-center">
      <div class="spinner-border" role="status"></div>
    </div>
  </div>
  <div class="container" [hidden]="!user && isInViewMode">
    <div class="row">
      <div class="col-xs-8 col-sm-8 col-md-6 col-sm-offset-1 col-md-offset-2">
        <form (ngSubmit)="onSubmit()" #f="ngForm">
          <div id="user-data">
            <div class="form-group">
              <label id="firstname-label" class="label-content" for="firstName"
                >First Name</label
              >
              <input
                type="text"
                id="firstName"
                class="form-control"
                name="firstName"
                [ngStyle]="{ cursor: isInViewMode ? 'not-allowed' : 'auto' }"
                [disabled]="isInViewMode"
                [ngModel]="fakeUserName"
                required
                #firstName="ngModel"
              />
            </div>
            <span
              class="help-block error-content"
              *ngIf="!firstName.valid && firstName.touched"
              >Please enter first name of the user!</span
            >
            <div class="form-group">
              <label id="lastname-label" class="label-content" for="lastName"
                >Last Name</label
              >
              <input
                type="text"
                id="lastName"
                class="form-control"
                name="lastName"
                [ngStyle]="{ cursor: isInViewMode ? 'not-allowed' : 'auto' }"
                [disabled]="isInViewMode"
                ngModel
                required
                #lastName="ngModel"
              />
            </div>
            <span
              class="help-block error-content"
              *ngIf="!lastName.valid && lastName.touched"
              >Please enter last name of the user!</span
            >
            <div class="form-group">
              <label id="email-label" class="label-content" for="email"
                >E-Mail</label
              >
              <input
                type="email"
                id="email"
                class="form-control"
                name="email"
                [ngStyle]="{ cursor: isInViewMode ? 'not-allowed' : 'auto' }"
                [disabled]="isInViewMode"
                ngModel
                email
                required
                #email="ngModel"
              />
              <span
                class="help-block error-content"
                *ngIf="!email.valid && email.touched"
                >Please enter a valid email!</span
              >
            </div>
            <div *ngIf="!isInViewMode && !isInEditMode" class="form-group">
              <label class="label-content" for="password">Password</label>
              <input
                type="password"
                id="password"
                class="form-control"
                name="password"
                ngModel
                required
                #password="ngModel"
              />
              <span
                class="help-block error-content"
                *ngIf="!password.valid && password.touched"
                >Please enter a valid password!</span
              >
            </div>

            <div class="form-group">
              <label id="avatar-label" class="label-content" for="avatar"
                >Avatar</label
              >
              <input
                type="text"
                id="avatar"
                [ngStyle]="{ cursor: isInViewMode ? 'not-allowed' : 'auto' }"
                [disabled]="isInViewMode"
                class="form-control"
                name="avatar"
                [ngModel]="fakeAvatar"
                required
                #avatar="ngModel"
              />
            </div>
          </div>
          <button
            class="btn btn-primary btn-content"
            type="button"
            id="back"
            (click)="onClose()"
          >
            Back
          </button>
          <button
            class="btn btn-primary btn-content"
            type="button"
            id="edit"
            *ngIf="isInViewMode"
            (click)="onEnablingEditMode()"
          >
            Edit
          </button>
          <button
            class="btn btn-primary btn-content"
            type="submit"
            id="submit"
            *ngIf="!isInViewMode"
            [disabled]="f.invalid"
          >
            Submit
          </button>
        </form>
      </div>

      <div *ngIf="user || avatar.valid" class="col-xs-4 col-sm-4 col-md-6">
        <img class="avatar-container" [src]="avatar.control.value" />
      </div>
    </div>
    <hr />
  </div>
</div>
