.container {
  margin-top: 30px;

  .avatar-container {
    width: 45%;
    height: 85%;
    padding: 2rem;
  }

  .btn-container {
      margin-top: 2rem;
      margin-right: 2rem;
  }
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}
